<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VeraBlog</title>
	<link rel="icon" href="/images/19n5hnxh3i41583028504529.png">
	<link rel="stylesheet" href="/index.css">
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
	<script>
		function fade(txt){
			$('.message').text(txt)
			$('.message').animate({
				top:0
			})
			setTimeout(function(){
				$('.message').animate({
					top: '-100%'
				})
			},1500)
		}
		$(function(){
			$('.signout').click(()=>{
				$.ajax({
					url: "/signout",
					type: "GET",
					cache: false,
					dataType: 'json',
					success: function (msg) {
						if (msg) {
							fade('登录成功')
							setTimeout(()=>{
								window.location.href = "/posts"
							},1500)	
						}
					},
					error: function () {
						alert('异常');
					}
				})
			})
		})
	</script>
</head>
<body>
<%- include("header",{type:'signin'}) %>
<div class="container">
	<form class="form create" method="post ">
		<div>
			<label>用户名：</label> 
			<input placeholder="用户名" type="text" name="name">
		</div>
		<div>
			<label>密码：</label> 
			<input placeholder="密码" type="password" name="password">
		</div>
		<div class="submit">登录</div>
	</form>		
</div>
<script>
	$(window).keyup(function(e){
		//console.log(e.keyCode)
		if (e.keyCode == 13) {
			$('.submit').click()
		}
	})
	$('.submit').click(()=>{
		if ($('input[name=name]').val().trim() == '' || $('input[name=password]').val().trim() == '' ) {
			fade('请输入用户名或密码')
		}else{
			console.log($('.form').serialize())
			$.ajax({
				url: "/signin",
				data: $('.form').serialize(),
				type: "POST",
				cache: false,
				dataType: 'json',
				success: function (msg) {
					if (!msg) {
						$('input').val('')
						fade('用户名或密码错误')
					} else{
						fade('登录成功')
						setTimeout(()=>{
							window.location.href = "/posts"
						},1500)	               	
					}
				},
				error: function () {
					alert('异常');
				}
			})			
		}
	})		
</script>
</body>
</html> 